/* DARK THEME */

body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: #e0e0e0;
}

/* Container */
.container {
  max-width: 500px;
  margin: 50px auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

/* Input Box */
.input-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #2a2a2a;
  color: #fff;
}

.input-box input::placeholder {
  color: #aaa;
}

.input-box button {
  margin-left: 10px;
  padding: 10px 15px;
  background: #00c853;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-box button:hover {
  background: #00b34a;
}

/* Todo List */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #2a2a2a;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 6px;
}

/* Row */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Done */
.done {
  text-decoration: line-through;
  color: #888;
}

/* Actions */
.actions button {
  margin-left: 5px;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Buttons */
.actions button:nth-child(1) {
  background: #2979ff;
  color: white;
}

.actions button:nth-child(2) {
  background: #ffab00;
  color: black;
}

.actions button:nth-child(3) {
  background: #ff1744;
  color: white;
}

/* Edit Mode */
.edit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-box input {
  width: 60%;
  padding: 8px;
  background: #333;
  border: 1px solid #444;
  color: white;
  border-radius: 5px;
}

.edit-box button {
  margin-left: 5px;
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.edit-box button:first-child {
  background: #00c853;
  color: white;
}

.edit-box button:last-child {
  background: #ff5252;
  color: white;
}   